:root {
    --label-color: rgb(128, 128, 128);
    --border-color: rgb(128, 128, 128);
    --button-background: rgba(255, 255, 255, 0.25);
    --input-background: rgba(255, 255, 255, 0.25);
    --shadow-color: rgba(0, 0, 0, 0.25);
}