<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <title>Kana Voice</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="./style/dark.css" media="(prefers-color-scheme: dark)">
</head>

<body>
    <div id="problem">
        <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" style="width: 8em;">
            <g>
                <path class="icon" d="M437.014,74.978C390.77,28.696,326.608-0.014,256,0C185.393-0.014,121.222,28.696,74.977,74.978
                    C28.696,121.222-0.015,185.392,0,256c-0.015,70.608,28.696,134.778,74.977,181.022C121.222,483.304,185.393,512.015,256,512
                    c70.608,0.015,134.77-28.696,181.014-74.978c46.289-46.244,75-110.414,74.986-181.022
                    C512.014,185.392,483.304,121.222,437.014,74.978z M399.474,112.526c36.763,36.799,59.414,87.355,59.43,143.474
                    c-0.015,56.118-22.667,106.674-59.43,143.474c-36.807,36.763-87.363,59.416-143.474,59.43
                    c-56.119-0.014-106.674-22.667-143.474-59.43C75.762,362.674,53.111,312.118,53.096,256
                    c0.014-56.118,22.666-106.674,59.429-143.474c36.8-36.763,87.356-59.415,143.474-59.43
                    C312.111,53.112,362.667,75.763,399.474,112.526z"></path>
                <path class="icon" d="M246.681,303.592c0.312,2.075,1.349,4.067,3.104,5.986c1.748,1.911,3.822,2.866,6.215,2.866
                    c5.57,0,8.681-2.948,9.311-8.852l18.644-143.214c0.311-2.533,0.474-6.126,0.474-10.748c0-7.17-2.466-13.689-7.4-19.593
                    c-4.94-5.889-11.948-8.837-21.029-8.837c-9.415,0-16.496,3.022-21.266,9.066c-4.778,5.904-7.171,12.356-7.171,19.364
                    c0,4.31,0.156,7.888,0.474,10.748L246.681,303.592z"></path>
                <path class="icon"
                    d="M256,390.792c8.118,0,14.962-2.778,20.548-8.362c5.57-5.563,8.356-12.422,8.356-20.541
                    c0-8.126-2.785-14.978-8.356-20.556c-5.414-5.422-12.266-8.126-20.548-8.126c-8.118,0-14.971,2.8-20.556,8.364
                    c-5.578,5.585-8.356,12.348-8.356,20.318c0,7.637,2.778,14.407,8.356,20.303C241.029,387.934,247.882,390.792,256,390.792z">
                </path>
            </g>
        </svg>

        <h2 id="problem_title">接続に問題</h2>
        <div id="problem_content">
            インターネットに接続できませんでした。<br>
            お使いのインターネット接続を確認してください。
        </div>
    </div>

    <div id="login">
        <h2 id="logintitle">ログイン</h2>
        <span id="loginmessage">Kana Accountでログイン</span>
        <div>
            <label for="userid">ユーザーID</label>
            <input type="text" name="userid" id="userid" autocomplete="username">
            <label for="password">パスワード</label>
            <input type="password" name="password" id="password" autocomplete="current-password">
            <br>
            <div id="savelogin">
                <input type="checkbox" name="issavelogin" id="issavelogin">
                <label for="issavelogin" style="display:inline-block;">ログイン情報を保存</label>
            </div>
            <button class="button" id="loginbutton">ログイン</button>
            <hr>
            <a href="https://kana.renorari.net/api/account/create.html" class="button">アカウント作成<span
                    class="material-symbols-rounded icon-inline">open_in_new</span></a>
        </div>
    </div>

    <div id="main">
        <div id="menu">
            <div id="menu-leftside">
                <button class="icon-button" id="playbutton">
                    <span class="material-symbols-rounded">
                        play_arrow
                    </span>
                </button>
                <button class="icon-button" id="savebutton">
                    <span class="material-symbols-rounded">
                        save
                    </span>
                </button>
            </div>
            <div id="menu-rightside">
                <button class="icon-button" id="configsavebutton" style="display: none;">
                    <span class="material-symbols-rounded">
                        download
                    </span>
                </button>
                <button class="icon-button" id="configloadbutton" style="display: none;">
                    <span class="material-symbols-rounded">
                        upload
                    </span>
                </button>
                <button class="icon-button" id="logoutbutton">
                    <span class="material-symbols-rounded">
                        logout
                    </span>
                </button>
            </div>
        </div>
        <div id="voice-setting">
            <div id="voice-setting-item">
                <label for="voiceid">音響モデル</label>
                <select name="voiceid" id="voiceid"></select>
            </div>
            <div id="voice-setting-item">
                <label for="speed">スピード</label>
                <input type="range" name="speed" id="speed" min="0" max="2" value="1" step="0.05">
            </div>
            <div id="voice-setting-item">
                <label for="tone">トーン</label>
                <input type="range" name="tone" id="tone" min="-20" max="20" value="0" step="1">
            </div>
            <div id="voice-setting-item">
                <label for="intonation">イントネーション</label>
                <input type="range" name="intonation" id="intonation" min="0" max="2" value="1" step="0.05">
            </div>
            <div id="voice-setting-item">
                <label for="between">間</label>
                <input type="range" name="between" id="between" min="0" max="2" value="1" step="0.05">
            </div>
        </div>
        <div id="content">
            <label for="text">読み上げる文</label>
            <textarea name="text" id="text" placeholder="奇跡のシフォンケーキが、食べたいです。" autofocus spellcheck="true"
                wrap="hard"></textarea>
        </div>
    </div>

    <script src="./scripts/index.js"></script>
</body>

</html>